.mealCategoriesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-weight: bolder;
  }
  .activeCategory{
    color: #9225E9;
    text-decoration: underline;
  }
  .recipesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 10px;
    margin-bottom: 1rem;
  }
  
  .recipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .recipeImage {
    width: 100%;
    height: 20vh;
    border-radius: 1rem;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
  
  .recipeName {
    position: absolute;
    bottom: 1vh;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 80%;
  }
  